doctype html
html
    head
        title asiatic lion 
        block scripts
        block style 
    body
        navbar#navbar-container 
            ul 
                div#logo
                    img(src="../static/logo.png" alt="" a href="/"  srcset="")
                li#left #[a(href='/') SPECIES ]
                li #[a(href='/') ABOUT US ]
                li #[a(href='/ow') OUR WORK ]
                li#right #[a(href='/get') GET INVOLVED ]
                li #[a(href='/') DONATE ]
        block content 
        block foot
        footer#footer 
            p copyright © 2023 www.asiatic lion.com