doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Asiatic lion
        style 
            include ../static/al.css
    body 
        navbar#navbar-container 
            ul 
                div#logo
                    img(src="../static/logo.png", alt="", srcset="")
                li#left #[a(href='/') SPECIES ]
                li #[a(href='/') ABOUT US ]
                li #[a(href='/') OUR WORK ]
                li#right #[a(href='/') GET INVOLVED ]
                li #[a(href='/') DONATE ]
        section#home-container
                div.text
                    p.text1  SPECIES ----
                    p#text2 Asiatic Lion
                    p.text1  STATUS ----
                    p#text3  Endangered
