extends base.pug

block scripts 
    script(src="index.js") 

block style 
    style 
        include ../static/al.css
        include ../static/ow.css

block content 

    div#backlit
    div#image-container
        div#p
            //- hr
            p THE BEAUTY OF THE WILDLIFE IS HERE
    div#allcards-container    
        p#allcards-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam voluptas, excepturi veniam eligendi provident tenetur nihil eveniet molestiae distinctio repellat sapiente, id recusandae iure et perferendis pariatur veritatis enim, dolor itaque totam! Voluptatibus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam libero reiciendis officia quasi cumque esse quam veritatis commodi? Eius, soluta corrupti enim unde aut, consequuntur id ut aliquid odit vel earum quisquam! Minus, enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repellendus libero, pariatur eius ipsum repellat. Corrupti, suscipit adipisci! Nam tempora necessitatibus, est libero obcaecati ipsa. Inventore porro dignissimos modi pariatur repellendus doloribus commodi eaque expedita laudantium deleniti ut, libero distinctio voluptatibus praesentium mollitia corporis iusto vitae saepe nemo! Illo quae voluptates aliquid laborum esse enim. Minima laudantium voluptates explicabo iusto reiciendis in aperiam dolor voluptatum sit, ut tempora maxime pariatur non quam molestiae eligendi dolorum illum. Rerum temporibus voluptatum officiis totam? Impedit dicta
        div#card-container
            p.card-heading Improved interaction
            div#card
                div#cardfront1
                div#cardback1
                    p.para Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta vero ipsum iure, sit atque eveniet minima, ut laborum magni non praesentium iste laboriosam! Ipsa rerum officiis ipsam enim veritatis dolorem, quod eos deserunt amet?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem veniam, quo libero accusamus aspernatur perspiciatis esse soluta ut ratione tempore dicta, vel pariatur Lorem ipsum dolor si Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sed expedita illum adipisci placeat! Placeat modi perspiciatis magnam mollitia repellat.
        div#card-container2
            p.card-heading Association establishment
            div#card
                p.card-heading
                div#cardfront2
                div#cardback2
                    p.para Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta vero ipsum iure, sit atque eveniet minima, ut laborum magni non praesentium iste laboriosam! Ipsa rerum officiis ipsam enim veritatis dolorem, quod eos deserunt amet?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem veniam, quo libero accusamus aspernatur perspiciatis esse soluta ut ratione tempore dicta, vel pariatur Lorem ipsum dolor sit lLorem ipsum dolor sit amet consectetur adipisicing elit. Ea sed expedita illum adipisci placeat! Placeat modi perspiciatis magnam mollitia repellat.
        div#card-container3
            p.card-heading Deforestation prevention
            div#card
                p.card-heading
                div#cardfront3
                div#cardback3
                    p.para Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta vero ipsum iure, sit atque eveniet minima, ut laborum magni non praesentium iste laboriosam! Ipsa rerum officiis ipsam enim veritatis dolorem, quod eos deserunt amet?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem veniam, quo libero accusamus aspernatur perspiciatis esse soluta ut ratione tempore dicta, vel pariatur Lorem ipsum dolor sit lLorem ipsum dolor sit amet consectetur adipisicing elit. Ea sed expedita illum adipisci placeat! Placeat modi perspiciatis magnam mollitia repellat.